<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:float="http://www.w3.org/1999/xhtml">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>Exchange</span><span style="float: right;" th:utext="${userName}"></span>
            </div>
            <div class="panel-body">
                <table style="display: inline-block;border: 1px solid black;width: 400px">
                    <thead>
                    <tr style="border: 1px solid black;width: auto">
                        <th style="width: auto"> Currencies</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${currencies.items.empty}">
                        <td colspan="2"> No Currency Available</td>
                    </tr>
                    <tr style="border: 1px solid black;width: auto">
                        <th style="border: 1px solid black; width: 100px"> Currency</th>
                        <th style="border: 1px solid black; width: 100px"> Unit</th>
                        <th style="border: 1px solid black; width: 100px"> Value</th>
                        <th style="border: 1px solid black; width: 100px"> Action</th>
                    </tr>
                    <tr style="border: 1px solid black; width: auto" th:each="currency : ${currencies.items}">
                        <td style="border: 1px solid black; width: 100px"><span th:text="${currency.code}"> Currency</span></td>
                        <td style="border: 1px solid black; width: 100px"><span th:text="${currency.unit}"> Unit</span></td>
                        <td style="border: 1px solid black; width: 100px"><span th:text="${currency.purchasePrice}"> Value</span></td>
                        <td style="border: 1px solid black; width: 100px"><button th:id="${currency.code}">Buy</button></td>
                    </tr>

                    </tbody>
                </table>
                <table style="float: right;border: 1px solid black">
                    <thead>
                    <tr>
                        <th style="width: 100px"> My wallet</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th style="border: 1px solid black; width: 100px"> Currency</th>
                        <th style="border: 1px solid black; width: 100px"> Unit price</th>
                        <th style="border: 1px solid black; width: 100px"> Amount</th>
                        <th style="border: 1px solid black; width: 100px"> Value</th>
                        <th style="border: 1px solid black; width: 100px"> Action</th>
                    </tr>
                    <tr style="border: 1px solid black" th:each="currency : ${wallet.currencies}">
                        <td style="border: 1px solid black; width: 100px"><span th:text="${currency.code}"> Currency</span></td>
                        <td style="border: 1px solid black; width: 100px"><span th:text="${currency.sellPrice}"> Unit price</span></td>
                        <td style="border: 1px solid black; width: 100px"><span th:text="${currency.unit}"> Amount</span></td>
                        <td style="border: 1px solid black; width: 100px"><span th:text="${currency.value}"> Value</span></td>
                        <td style="border: 1px solid black; width: 100px"><button th:id="${currency.code}">Sell</button></td>
                    </tr>
                    <tr>
                        <td style="width: 300px"><span>Available PLN:</span><span th:text="${wallet.getBalance()}"></span></td>
                    </tr>
                    </tbody>
                </table>
                <div><span>Timestamp:</span> <span th:text="${currencies.publicationDate}"></span></div>
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>

</div>
</body>
</html>